<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8"/>
  <title>TEDx Creative Coast</title>
  <script>
    document.createElement('header');
    document.createElement('nav');
    document.createElement('article');
    document.createElement('footer');
  </script>
  <link rel="stylesheet" type="text/css" media="all" href="style.css">
  <meta type="description" content="TEDx Creative Coast 2013 will be held June 7th at the Jepson Center."/>
</head>
<% 
	body_class = ""
	body_class << "sold-out" if @sold_out
	body_class << " live-show" if @live
	body_class << " is-past" if @is_past
%>
<body class="<%= body_class %>">
	<header id="main-header">
		<div class="content">
			<div class="header-top">
				<div class="tedxcc-logo">
					<h1><img src="images/tedxcc-logo-horizontal.png" alt="TEDx Creative Coast" width=267 height=34 /></h1>
				</div>
				<div id="social">
					<ul>
						<li class="facebook"><a href="http://www.facebook.com/TEDxCreativeCoast" target="_blank">facebook</a></li>
						<li class="twitter"><a href="http://twitter.com/tedxcc" target="_blank">twitter</a></li>
						<li class="flickr"><a href="http://www.flickr.com/photos/tedxcreativecoast/" target="_blank">flickr</a></li>
					</ul>
				</div>
			</div>
			<% if @live %>
				<div id="tedx-live">
<iframe width="640" height="385" src="http://cdn.livestream.com/embed/tedxcreativecoast?layout=4&amp;color=0xe7e7e7&amp;autoPlay=true&amp;mute=false&amp;iconColorOver=0x888888&amp;iconColor=0x777777&amp;allowchat=true&amp;height=385&amp;width=640" style="border:0;outline:0" frameborder="0" scrolling="no"></iframe><div style="font-size:11px;padding-top:10px;text-align:center;width:640px">Watch <a href=http://www.livestream.com/?utm_source=lsplayer&amp;utm_medium=embed&amp;utm_campaign=footerlinks title=live streaming video>live streaming video</a> from <a href=http://www.livestream.com/tedxcreativecoast?utm_source=lsplayer&amp;utm_medium=embed&amp;utm_campaign=footerlinks title=Watch tedxcreativecoast at livestream.com>tedxcreativecoast</a> at livestream.com</div>
				</div>
			<% elsif @is_past %>
				<div id="headline">
					<h2><time datetime="2013-06-07">JUNE 7th</time></h2>
					<ul>
						<li>9am - 6pm</li>
						<li>The Jepson Center</li>
					</ul>
					<p>TEDx was created in the spirit of TED's mission,"ideas worth spreading." The program is designed to give communities, organizations and individuals the opportunity to stimulate dialogue through TED-like experiences at the local level.</p>
					<p>2012's event is over, <a href="http://www.youtube.com/playlist?list=PL909D2FBCCEC3CDFF">but you can relive it through the videos</a>!  Thank you to everyone who helped make this year's TEDx Creative Coast a huge success! Check back later this year for info on <em>next year's</em> TEDx Creative Coast!</p>
					<a class="learn-more" href="#about-header">Learn more</a>

				</div>
			<% else %>
				<div id="headline">
					<h2><time datetime="2013-06-07">JUNE 7th</time></h2>
					<ul>
						<li>9am - 6pm</li>
						<li>The Jepson Center</li>
					</ul>
					<p>TEDx was created in the spirit of TED's mission,"ideas worth spreading." The program is designed to give communities, organizations and individuals the opportunity to stimulate dialogue through TED-like experiences at the local level.</p>
					<a class="learn-more" href="#about-header">Learn more</a>
					<% if @sold_out %>
					<a class="register-button" href="#">
						<div id="register">
							<p class="remaining-days"><span>XX</span>days left</p>
							<p class="register"><span>Sold Out</span>for this year</p>
						</div>
					</a>					
					<% else %>
					<a class="register-button" href="#registration">
						<div id="register">
							<p class="remaining-days"><span>XX</span>days left</p>
							<p class="register"><span>Register</span>for this event</p>
						</div>
					</a>
					<% end %>
				</div>	
			<% end %>
		</div>
		<nav id="main-navigation">
			<div class="content">
				<ul>
					<li><a href="#speakers">speakers</a></li>
					<li><a href="#about-header">about</a></li>
					<!-- <li><a href="#program-header">program</a></li> -->
					<li><a href="#venue">venue</a></li>
					<li><a href="#thankyou-header">sponsors</a></li>
				</ul>
			</div>
		</nav>
	</header>
	
	

	<article id="speakers">
		<div class="content">
			<h3>The Speakers</h3>
      
      <ul id="speaker-headshot">
      <% @speakers.each do |speaker| %>
        <li><a href="#<%= speaker[:html_id].to_s %>-bio">
          <img src="<%= speaker[:photo] %>" 
          alt="<%= speaker[:first_name] %> <%= speaker[:last_name] %>"/></a></li>
      <% end %>
      </ul>
      
      <% @speakers.each do |speaker| %>
        <div class="speaker-bios" id="<%= speaker[:html_id] %>-bio">
        	<div class="bio">
        		<ul class="speaker-name-sub">
        			<li class="speaker-name"><%= speaker[:first_name] %> <%= speaker[:last_name] %></li>
        			<li class="speaker-sub"><%= speaker[:company] %></li>
        		</ul>
        		<p class="speaker-bio"><%= speaker[:description] %></p>
        	</div>
        </div>
      <% end %>
  
			<!-- <section>
			       <p class="call-for-speakers">Are you interested in speaking at TEDxCC 2013?</p>
			       <p class="apply-link"><a href="https://tcci.wufoo.com/forms/2013-tedxcreativecoast-speakers/">Apply Here!</a></p>
			     </section> -->
		</div>
	</article>
	
	
	<article id="registration">
	  <div class="content">
	    <header>
	      <aside>
	       <ul>
	         <li>Coffee &amp; Breakfast</li>
	         <li>A full day of TEDx Sessions</li>
	         <li>Full lunch</li>
	         <li>Post TEDxCC reception</li>
	       </ul>
	      </aside>
	      <h3>TEDx Tickets are only $65!</h3>
	      <p>We can only sell a limited number, so get them before we sell out!</p>
	      <!-- <p>Early TEDx tickets will be available until April 26th. After 4/26, the price goes up to $65.</p> -->
	    </header>
	    <section>
        <form name="frmdonate" method='post' action="https://www.donorcharge.com/tccpay/paynow.aspx" target="_blank" onsubmit="return validateForm()"></p>
        <label for="item_1_qty">Select Ticket QTY</label> <select name="item_1_qty" id="item_1_qty" onchange='OnChange(this.form.item_1_qty);'>
        <option value="0" selected="selected">Select One</option>
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
        <option>5</option>
        <option>6</option>
        <option>7</option>
        <option>8</option>
        <option>9</option>
        </select>
        <div id="createTextfields"></div>
        <input type="hidden" id="NumberOfTickets" />
        <input type=hidden name="RequestType" value="tedxtickets">
        <input type=hidden name="item_1_cost" value="65.00">
        <p><br /><br />
        <input type="submit" class="purchase-button" value="Purchase"/></p>
        </form>
	    </section>
	  </div>
	</article>
	
	
	<div id="about-header">
		
	</div>

	<article id="about">
		<div class="content">
			<h3 class="about">About TEDxCC</h3>
			<blockquote>
				TEDx was created in the spirit of TED's mission, "ideas worth spreading." The program is designed to give communities, organizations and individuals the opportunity to stimulate dialogue through TED-like experiences at the local level.
			</blockquote>
			<section>
				<h4>The Purpose</h4>
				<p>TEDx was created in the spirit of TED's mission, "ideas worth spreading." The program is designed to give communities, organizations and individuals the opportunity to stimulate dialogue through TED-like experiences at the local level. Want a taste?  <a href="http://www.youtube.com/playlist?list=PL909D2FBCCEC3CDFF">Go watch all the talks from TEDx Creative Coast 2012</a>.</p>
			</section>
			<section>
				<h4>The Details</h4>
				<p><span>Location:</span> The Jepson Center<br />207 West York St. Savannah, GA 31401</p>
				<ul>
					<li><span>Date:</span> June 7th, 2013</li>
					<li><span>Time:</span> 9am - 6pm</li>
					<li><span>Cost:</span> $65 per person after 4/26</li>
				</ul>
				<p class="questions"><span>Still have questions?</span></p>
				<ul>	
					<li>Call: (912) 447–8457</li>
					<li>Email: charisse@thecreativecoast.org</li>
				</ul>
			</section>
			<section class="last" id="news">
				<h4>The News</h4>
				<ul>
					
				</ul>
				<p><a href="http://blog.tedxcreativecoast.com">Read more</a> &raquo;</p>
			</section>
			<div id="video">
				<iframe width="940" height="478" src="http://www.youtube.com/embed/ni7TqNiABO0?rel=0&amp;wmode=opaque" frameborder="0" allowfullscreen></iframe>
			</div>
		</div>
	</article>

	<article id="venue">
		<div class="content">
			<h3>The Venue</h3>
			<blockquote>TEDxCC 2013 will be held at the famous Jepson Center in the heart of downtown Savannah, GA</blockquote>
		
			<aside id="venue-map">
				<a href="http://maps.google.com/maps/place?ftid=0x88fb9e67ca1d2085:0x9adc7f8e87b8c32b&amp;q=Jepson+Center,+Savannah,+GA&amp;hl=en&amp;dtab=0&amp;ie=UTF8&amp;ll=32.082011,-81.099164&amp;spn=0.000009,0.000011&amp;t=m&amp;z=17&amp;vpsrc=0"><img src="images/venue_map.jpg" alt="The Jepson Center: Click for directions"></a>
			</aside>
		
			<section>
				<h4>Jepson Center</h4>
				<p>TED is a nonprofit organization devoted to Ideas Worth Spreading. Started as a four-day conference in California 25 years ago, TED has grown to support those world-changing ideas with multiple initiatives. The annual TED Conference invites the world’s leading thinkers and doers to speak for 18 minutes. Their talks are then made available, free, at TED.com. TED is a nonprofit organization devoted ideas</p>
				<a class="directions-pin" href="http://maps.google.com/maps/place?ftid=0x88fb9e67ca1d2085:0x9adc7f8e87b8c32b&amp;q=Jepson+Center,+Savannah,+GA&amp;hl=en&amp;dtab=0&amp;ie=UTF8&amp;ll=32.082011,-81.099164&amp;spn=0.000009,0.000011&amp;t=m&amp;z=17&amp;vpsrc=0">Get Directions</a>
			</section>
		</div>
	</article>
	
	<div id="thankyou-header">
		
	</div>
	
	<article id="thankyou">
		<div class="content">
			<p class="ribbon thankyousponsors">Thank you to our Sponsors &amp; Partnering Companies!</p>
			<ul class="level-one">
				<li><img src="images/sponsors/ga_power.jpg" alt="Georgia Power"/></li>
				<li><img src="images/sponsors/seda.jpg" alt="SEDA"/></li>
				<li><img src="images/sponsors/creative_coast.jpg" alt="Creative Coast"/></li>
			</ul>
			<ul class="level-two">
				<li><img src="images/sponsors/deemer.jpg" alt="Deemer"/></li>
				<li><img src="images/sponsors/savannah.jpg" alt="City of Savannah"/></li>
				<li><img src="images/sponsors/focus_lab.jpg" alt="Focus Lab, LLC"/></li>
				<li><img src="images/sponsors/MarkStahl2.png" alt="Mark Stahl"/></li>
				<li><img src="images/sponsors/24e.png" alt="24e"/></li>
				<li><img src="images/sponsors/Calaway.png" alt="Callaway, Braun, Riddle &amp; Hughes, PC"/></li>
				<li><img src="images/sponsors/thinc.png" alt="ThincSavannah"/></li>
				<li><img src="images/sponsors/don_ryan.png" alt="Don Ryan Center for Innovation"/></li>
			</ul>
		</div>
	</article> 
	<footer id="main-footer">
		<div class="content">
			<img src="images/tedxcc-logo-vertical.png" alt="TEDxCreativeCoast" width=168 height=62 />
			<p class="license">This independent TEDx event is operated <br />under license from <a target="_blank" href="http://www.ted.com/tedx">TED</a>.</p>
			<p class="copyright">&copy; 2013 TEDxCreativeCoast</p>
			<p class="copyright">Past TEDx Creative Coasts: <a href="http://www.youtube.com/playlist?list=PL909D2FBCCEC3CDFF">2012</a></p>
			<p class="credits">Website by <a href="http://focuslabllc.com" target="_blank">Focus Lab</a>, <a href="http://lawver.net" target="_blank">Kevin Lawver</a> &amp; <a href="http://sdscarborough.com" target="_blank">Steven Scarborough</a>
		</div>
	</footer>
	<aside id="scripts">
		<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
		<script type="text/javascript" src="scripts/plugins.js"></script>
		<script type="text/javascript" src="scripts/jquery.tmpl.min.js"></script>
		<script type="text/javascript" src="scripts/jquery.simplemodal.1.4.2.min.js"></script>
		<script type="text/javascript" src="scripts/jquery.scrollTo-1.4.2-min.js"></script>
		<script type="text/javascript" src="scripts/tedx.js"></script>
		<script type="text/x-jquery-tmpl" id="news-template">
			<li><a href="${url-with-slug}" target="_blank">${regular-title}</a></li>
		</script>
	</aside>
	<div id="countdown"></div>
	<div id="simplemodal-overlay"></div>
</body>
</html>